.Right {
  text-align: right;
  color: red; }

.Left {
  text-align: left;
  color: red; }

.Centre {
  text-align: center;
  color: red; }

a {
  color: green; }

.field--label {
  color: red; }

.myclass {
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center; }
