.Right{
    text-align : right;
    color:red;
  }
  
  .Left{
    text-align : left;
    color:red;
  }
  
  .Centre{
    text-align : center;
    color:red;
  }

  a{
    color: green;
  }

  .field--label{
      colour: red;
  }